::-webkit-scrollbar {
    width: 14px;
    height: 12px;
}

::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #888888;
    border-radius: 10px;
    border: 2px solid #fff;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

::-webkit-scrollbar-button {
    background-color: #ccc;
    border-radius: 50%;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Montserrat", serif;
    position: relative;
    min-height: 100dvh;
}

header {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#changeLanguageButton {
    margin-right: 30px;
}

main {
    padding: 30px;
    z-index: 1;
    color: white;
}


body::before,
body::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, rgb(255, 194, 119), rgb(55, 40, 215));
    z-index: -1;
    opacity: 0.6;
}

h1 {
    font-size: 70px;
    font-family: "Sigmar", serif;
    margin: 20px 0;
    background: linear-gradient(45deg, #ffffff, #ffffff);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    text-align: center;
}

#appContent {
    max-width: 500px;
    margin: auto;
}

.inputContainer {
    position: relative;
    width: 300px;
}

#taskInput {
    padding: 10px;
    margin-bottom: 10px;
    font-size: 18px;
    outline: none;
    border: none;
    transition: all 0.3s ease;
    color: #3f4886;
}

label {
    color: #808080;
    position: absolute;
    left: 10px;
    top: 40%;
    transform: translateY(-50%);
    font-size: 16px;
    color: #aaa;
    pointer-events: none;
    transition: all 0.3s ease;
}

input:focus+label,
input:not(:placeholder-shown)+label {
    top: -10px;
    font-size: 12px;
    color: #707070;
}

#changeLanguageButton,
#addTaskButton {
    padding: 14px;
    font-size: 12px;
    font-family: "Montserrat", serif;
}

#deleteTaskButton {
    font-size: 12px;
    font-weight: bolder;
}

#calendar-container {
    background-color: #ffffff;
    padding: 20px;
    margin-bottom: 50px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#current-time {
    font-size: 18px;
    margin-bottom: 20px;
    font-family: "Share Tech Mono", serif;
    color: #3f4886;
}

#calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
    text-align: center;
    color: #3f4886;
}

#calendar div {
    padding: 10px;
    background-color: #e0e0e0;
    border: 1px solid #ccc;
    border-radius: 3px;
}

#calendar .header {
    font-weight: bold;
    background-color: #3f4886;
    color: #ffffff;
}

#calendar .today {
    background-color: #ff4d4d;
    color: #ffffff;
    font-weight: bold;
}

@media (max-width: 600px) {
    #calendar {
        grid-template-columns: repeat(4, 1fr);
    }

    #calendar div {
        padding: 8px;
        font-size: 0.9rem;
    }

    #current-time {
        font-size: 16px;
    }

    #mainTitle {
        font-size: 50px;
    }
}

@media (max-width: 900px) {
    #calendar {
        grid-template-columns: repeat(5, 1fr);
    }

    #calendar div {
        padding: 10px;
        font-size: 1rem;
    }

    #current-time {
        font-size: 17px;
    }
}

@media (min-width: 1200px) {
    #calendar {
        grid-template-columns: repeat(7, 1fr);
    }

    #calendar div {
        padding: 12px;
    }

    #current-time {
        font-size: 18px;
    }
}

h3 {
    font-size: 25px;
    color: #ffffff;
    padding: 20px 0;
    text-decoration: underline;
}

ul {
    list-style-type: none;
    padding-left: 0;
    color: #808080;
    font-size: 17px;
}

li {
    background-color: #f4f4f4;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #3f4886;
    opacity: 1;
    transform: translateX(0);
}

li.new-task {
    opacity: 0;
    transform: translateX(30px);
    animation: slideIn 0.5s forwards;
}

li.removed {
    animation: fadeOut 0.5s forwards;
}

button {
    padding: 10px 10px;
    background-color: #ff4d4d;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;
}

button:hover {
    background-color: #ff1a1a;
}

@keyframes slideIn {
    from {
        transform: translateY(30px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
        transform: translateX(0);
    }

    to {
        opacity: 0;
        transform: translateX(30px);
    }
}

@media (max-width: 500px) {}